@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&family=Prompt&display=swap');


body {
    background-color: gainsboro;
    background-image: url("images/garden.jpg");
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#pokeball {
    height: 60px;
    margin-top: 15px;
}

#logo {
    height: 80px
}

header {
    background-color: rgba(28, 28, 27, 0.5);
    height: 100px;
    padding: 10px 0 0 20px;
    /*border-bottom: #4a4a4a 8px solid;*/
    font-family: 'Press Start 2P', cursive;


}

.menu-icon img {
    width: 40px;
    padding-bottom: 10px;
}


.menu-icon a {
    padding-bottom: 10px;
    color: white;
}

.menu-icon a img:hover {
    padding-bottom: 3px;
    width: 60px;
}

.menu-icon a:hover {
    color: #ffffff;

}

div {
    display: flex;
}

table {
    text-align: center;
}

#menu-table tr .menu-icon {
    padding: 0 40px;
    height: 100px;
}

.menu {
    margin-left: 500px;

}


.pic {
    width: 300px;
    height: 270px;
    margin-bottom: 10px;
}

#data-table, #grid-container {
    margin: 50px auto;
    width: 1000px;
    border-spacing: 50px 50px;
}

#grid-container {
    margin: 100px 0 50px 190px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px 50px;
}

#grid-container .outer-electric {
    background-color: #e5db78;
    border: dimgray solid 5px;
    border-radius: 10px;
    padding: 10px;
}

#data-table tr .outer-grass {
    background-color: #67af82;
    border: dimgray solid 5px;
    border-radius: 10px;
    padding: 10px;
}

#data-table tr .outer-water {
    background-color: #52a5ae;
    border: dimgray solid 5px;
    border-radius: 10px;
    padding: 10px;
}

#data-table tr .outer-fairy {
    background-color: #d691c5;
    border: #dfdfdf solid 5px;
    border-radius: 10px;
    padding: 10px;
}

#data-table tr .outer-fairy:hover, #data-table tr .outer-water:hover, #data-table tr .outer-grass:hover, #grid-container .outer-electric:hover {
    box-shadow: #2b2b2b 0px 3px 8px 5px;
}

a {
    padding-top: 10px;
    text-decoration: none;
    display: table-caption;
}

.sub-dataTable {
    margin: auto;
    text-align: left;
    font-size: small;
    border: #2b2b2b solid 1px;
    padding: 5px;
    border-radius: 5px;
}

.sub-dataTable th {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
    color: #ffffff;
    font-size: large;
    /*border: #2b2b2b solid 1px;*/

}

#electric {
    background-color: #876918;
}

#grass {
    background-color: teal;
}

#water {
    background-color: #335c86;
}

#fairy {
    background-color: #9a325f;
}

.sub-dataTable td:nth-child(odd) {
    font-family: 'Press Start 2P', cursive;
    /*border: #2b2b2b solid 1px;*/
    /*width: 300px;*/
}

.sub-dataTable td:nth-child(even) {
    font-family: 'Prompt', sans-serif;
    /*border: #2b2b2b solid 1px;*/

}

footer {
    font-family: 'Bungee', cursive;
    background-color: rgba(28, 28, 27, 0.5);
    letter-spacing: 5px;
    text-align: center;
    color: #e9e9e9;
}