body {
    background-color: gainsboro;
    margin: 0;
}

#pokeball {
    height: 60px;
    margin-top: 15px;
}

#logo {
    height: 80px
}

header {
    background-color: #fbc764;
    height: 100px;
    padding: 10px 0 0 20px;
    border-bottom: #b2b3b3 8px solid;
    font-family: 'Press Start 2P', cursive;


}

.menu-icon img {
    width: 40px;
    padding-bottom: 10px;
}


.menu-icon a {
    padding-bottom: 10px;
}

.menu-icon:hover {
    background-color: gainsboro;
    border-radius: 25px;
}

div {
    display: flex;
}

table {
    text-align: center;
}

#menu-table tr td {
    padding: 0 40px;

}

.menu {
    margin-left: 500px;

}


.pic {
    height: 270px;
}

#data-table {
    margin: 50px auto;
    width: 1000px;
    border-spacing: 50px 50px;

}

#data-table tr .outer {
    background-color: #67af82;
    border: dimgray solid 5px;
    border-radius: 10px;
    padding: 10px;

}

a {
    padding-top: 10px;
    text-decoration: none;
    display: table-caption;
}

.sub-dataTable {
    margin: auto;
    text-align: left;
    font-size: small;
}

.sub-dataTable th {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
    color: #ffffff;
    background-color: teal;
    font-size: large;
}

.sub-dataTable td:nth-child(odd) {
    /*font-family: 'Bungee', cursive;*/
    font-family: 'Press Start 2P', cursive;

}

.sub-dataTable td:nth-child(even) {
    /*font-family: 'Press Start 2P', cursive;*/

    font-family: 'Prompt', sans-serif;
}